<div *ngIf="!flags.isEnabled('down_for_maintenance')">
  <div *ngIf="flags.isEnabled('show_spinner')">
    <mat-progress-bar *ngIf="!flags.isEnabled('zorro')" [mode]="(loading$ | async) ? 'indeterminate' : 'determinate'"
      mode="indeterminate"></mat-progress-bar>
    <nz-progress *ngIf="flags.isEnabled('zorro')" [nzPercent]="(loading$ | async) ? 100 : 0" nzStatus="active"
      nzStrokeLinecap='square' [nzShowInfo]="false"></nz-progress>
  </div>

  <div class="app">
    <app-input *ngIf="flags.isEnabled('show_input')"></app-input>
    <app-todo-list *ngIf="flags.isEnabled('show_todos')" [showCompleted]="false"></app-todo-list>
    <app-todo-list *ngIf="flags.isEnabled('show_completed')" [showCompleted]="true"></app-todo-list>
    <div *ngIf="flags.isEnabled('show_github_link')">
      <button *ngIf="flags.isEnabled('zorro')" nz-button nzType="primary" nzGhost color="primary" (click)="goToSource()"
        [nzLoading]="goToSourceClicked">
        View source on GitHub
      </button>
      <button *ngIf="!flags.isEnabled('zorro')" mat-stroked-button color="primary" (click)="goToSource()">
        View source on GitHub
      </button>
    </div>
  </div>
</div>

<div *ngIf="flags.isEnabled('down_for_maintenance')">
  <div *ngIf="flags.isEnabled('zorro')" class="app">
    <nz-result nzStatus="404" nzTitle="Sorry" nzSubTitle="We're down for maintenance...">
      <div nz-result-extra>
        <p>Please check back later.</p>
      </div>
    </nz-result>
  </div>

  <div *ngIf="!flags.isEnabled('zorro')" class="app">
    <mat-card>
      <h1>Sorry!</h1>
      <h3>We're down for maintenance...</h3>
      <p>Please check back later.</p>
    </mat-card>
  </div>
</div>